/* regole generali */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.contenitore{
  width: 70%;
  height: 100%;
  margin: auto;
  position: relative;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

/* regole generali per il font */
p{
  line-height: 2;
}

ul{
  list-style-type: none;
}

/* regole generali per i link e i "pulsanti" */
a{
  text-decoration: none;
}

.blue{
  color: #191970;
  font-weight: bold;
}

a.blue:hover, a.grey:hover{
  color: #009699;
  text-decoration: underline;
}

.button{
  padding: 10px;
  border-radius: 5px;
}

.button.big{
  padding: 15px 30px;
}

.button.white{
  color: #ff6600;
  background-color: #ffffff;
  border: 1px solid #ff6600;
}

.button.white:hover{
  color: rgba(255,102,0,0.4);
  background-color: rgba(255,255,255,0.4);
  border: 1px solid rgba(255,102,0,0.4);
}

.button.orange{
  color: #ffffff;
  background-color: #ff6600;
}

.button.orange:hover{
  color: rgba(255,255,255,0.4);
  background-color: rgba(255,102,0,0.4);
}

.button.dark{
  color: rgb(47,79,79);
  background-color: rgb(220,220,220);
}

.button.dark:hover{
  color: rgba(47,79,79,0.4);
  background-color: rgba(220, 220, 220,0.4);
}

/* HEADER */

/* parte relativa alla parte di header fixata in alto  */
.navigation{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

/* parte superiore della barra di navigazione */
.nav-top{
  background-color: #DCDCDC;
  border-bottom: 2px solid #808080;
  height: 80px;
}

.nav-top-sx {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}

.nav-top-sx > .divisore{
  display: inline-block;
  margin: 0 20px;
}

.nav-top-dx {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}

#searchbar{
  color: #009699;
  font: 20px;
}

.nav-top-dx > a{
  margin-left: 20px;
}

/* parte inferiore della barra di navigazione */
.nav-bottom{
  background-color: #F8F8FF;
  height: 80px;
}

.nav-bottom .logo{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}

.nav-elenco{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}

.nav-elenco li{
  display: inline-block;
  margin-left: 40px;
}

/* parte relativa al jumbotron */
.jumbotron{
  margin-top: 160px;
  background-image: url(../img/jumbotron.png);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  min-height: 800px;
}

.jumbotron h1{
  padding-top: 50px;
  width: 40%;
  font-size: 50px;
}

.jumbotron p{
  margin: 25px 0 50px;
  width: 40%;
  font-size: 16px;
}

.jumbotron .subtext{
  margin-top: 50px;
  width: 40%;
  font-size: 12px;
}

/* SEZIONE UNO */

/* regole generali sezione uno */
.sezione-uno{
  background-color: #DCDCDC;
}

.check{
  color: #ffffff;
  background-color: #ff6600;
  border-radius: 50%;
  padding: 1px 3px;
}

.sezione-uno h2{
  font-size: 30px;
  margin-bottom: 30px;
}

.sezione-uno h3{
  font-size: 25px;
  margin-bottom: 20px;
}

.sezione-uno h4{
  font-size: 20px;
  margin-bottom: 20px;
}

.sezione-uno .text{
  margin: 0 10px;
}

/* parte relativa alla parte centrale fuori dalle box */
.sezione-uno-centrale{
  text-align: center;
  padding: 40px 0;
  width: 60%;
  margin: auto;
}

.sezione-uno-centrale > img{
  width: 30%;
}

/* parte relativa alle parti dentro alle box bianche */
.box{
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 40px;
}

.box .parte-sinistra {
  float:left;
  width: 30%;
  padding: 50px;
  text-align: center;
}

.box .parte-sinistra img{
  width: 50%;
  margin-bottom: 30px;
}

.box .parte-destra {
  float:left;
  width: 70%;
  padding: 50px 30px;
}

.box .parte-destra p {
  max-width: 70%;
}

.box .parte-destra h4{
  margin: 20px 40px 20px 0;
  display: inline-block;
}

.box .parte-destra hr {
  display: inline-block;
  width: 60%;
}

.box .parte-destra li {
  display: inline-block;
}

.box.verticale{
  float: left;
  width: 30%;
  text-align: center;
  padding: 20px 40px;
}

.box.centrale{
  margin: 0 5%;
}

.box.verticale .top{
  min-height: 350px;
}

.box.verticale .bottom{
  min-height: 250px;
}

.box.verticale .top img{
  height: 100px;
  margin-bottom: 20px;
}

.box.verticale .bottom hr{
  margin-bottom: 40px;
}

.box.verticale .bottom ul{
  text-align: left;
  margin-bottom: 50px;
}

.box.verticale .bottom li{
  margin: 1px 0;
}

/* SEZIONE DUE */

/* regole generali sezione due */
.sezione-due{
  background-color: #00CED1;
  color: #ffffff;
  text-align: center;
}

.sezione-due .contenitore > h2{
  font-size: 40px;
  padding: 50px;
}

/* regole per la tabella centrale */
.tabella{
  margin: 50px 0 100px 0;
}

.casella{
  float: left;
  width: calc(100% / 4);
}

.casella.right{
  border-right: 1px solid #ffffff;
}

.casella.bottom{
  border-bottom: 1px solid #ffffff;
}

.casella h2{
  font-size: 40px;
}

.casella img, .casella .subtext{
  margin: 20px 0;
}

/* SEZIONE TRE */

/* regole generali sezione tre */
.sezione-tre{
  background-color: #ffffff;
}

.sezione-tre h2{
  font-size: 40px;
}

/* parte relativa al contenitore superiore */
.sezione-tre .top{
  width: 85%;
  margin: auto;
}

.sezione-tre .text{
  float: left;
  width: 20%;
}

.sezione-tre .top h2{
  padding: 50px 0;
}

.lista-partner{
  float: right;
  width: 55%;
  margin-top: 50px;
}

.partner{
  float: left;
  margin: 10px 5px 20px;
  width: calc(100% / 4 - 10px);
  vertical-align: middle;
  text-align: center;
}

.partner img{
  width: 80%;
}

/* parte relativa al contenitore inferiore */
.sezione-tre .bottom .left{
  float: left;
  margin-top: 100px;
  width: 40%;
}

.sezione-tre .bottom .left *{
  margin-bottom: 50px;
}

.sezione-tre .bottom .left .subtext{
  margin-top: 50px;
  font-size: 12px;
}

.sezione-tre .bottom img{
  float: right;
  width: 25%;
  margin-top: 50px;
}


/* FOOTER */

/* regole generali footer */
footer{
  background-color: #2F4F4F;
  color: #ffffff;
}

/* regole per le colonne di link */

.contenitore-link{
  padding-top: 50px;
}

.colonna-link {
  float: left;
  width: calc(100% / 4);

  /* debug */
  /* background-color: red; */
  /* height: 500px; */
}

.colonna-link li{
  margin-bottom: 20px;
}

h5{
  font-size: 20px;
  margin-bottom: 30px;
}

.grey{
  color: #DCDCDC;
  font-weight: bold;
}

/* non funziona */
/* .colonna-link .button{
  margin: 50px 0;
} */

.social li{
  display: inline-block;
  margin-right: 20px;
}

/* regole per la parte inferiore del footer */
.scelta-lingua{
  padding: 50px 0 10px;
  border-bottom: 1px solid #DCDCDC;
}

.lingue{
  text-align: center;
}

.lingue li{
  display: inline-block;
  margin-right: 40px;
}

.copyright{
  float: left;
  margin: 40px 0;
}

h6{
  font-size: 12px;
  margin-top: 10px;
}

.legal{
  float: right;
  margin-top: 40px;
}

.legal li{
  display: inline-block;
  margin-left: 20px;
}
