/* regole generali */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.contenitore{
  width: 70%;
  height: 100%;
  margin: auto;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

/* regole generali per il font */
h1{
  font-size: 50px;
}

h2{
  font-size: 45px;
}

h3{
  font-size: 35px;
}

h4{
  font-size: 25px;
}

h5{
  font-size: 18px;
}

h6{
  font-size: 16px;
}

.subtext{
  font-size: 13px;
}

p{
  line-height: 2;
}

ul{
  list-style-type: none;
}

/* regole generali per i link e i "pulsanti" */
a{
  text-decoration: none;
}

.blue{
  color: #191970;
}

.grey{
  color: #DCDCDC;
}

a.blue:hover, a.grey:hover{
  color: #009699;
  text-decoration: underline;
}

.button{
  padding: 10px;
  border-radius: 5px;
}

.button.big{
  padding: 15px 30px;
}

.button.white{
  color: #ff6600;
  background-color: #ffffff;
  border: 1px solid #ff6600;
}

.button.white:hover{
  color: rgba(255,102,0,0.4);
  background-color: rgba(255,255,255,0.4);
  border: 1px solid rgba(255,102,0,0.4);
}

.button.orange{
  color: #ffffff;
  background-color: #ff6600;
}

.button.orange:hover{
  color: rgba(255,255,255,0.4);
  background-color: rgba(255,102,0,0.4);
}

.button.dark{
  color: rgb(47,79,79);
  background-color: rgb(220,220,220);
}

.button.dark:hover{
  color: rgba(47,79,79,0.4);
  background-color: rgba(220, 220, 220,0.4);
}

/* HEADER */

/* parte relativa alla parte di header fixata in alto  */
.navigation{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

/* parte superiore della barra di navigazione */
.nav-top{
  background-color: #DCDCDC;
  border-bottom: 2px solid #808080;
  height: 80px;
  line-height: 80px;
}

.nav-top-sx {
  float: left;
}

.fa-globe-europe{
  margin-right: 5px;
}

.nav-top-sx > .divisore{
  display: inline-block;
  margin: 0 20px;
}

.nav-top-dx {
  float: right;
}

#searchbar{
  color: #009699;
}

.nav-top-dx > a{
  margin-left: 20px;
}

/* parte inferiore della barra di navigazione */
.nav-bottom{
  background-color: #F8F8FF;
  height: 80px;
  line-height: 80px;
}

.nav-bottom .logo{
  float: left;
}

.nav-bottom .logo img{
  vertical-align: middle;
}

.nav-elenco{
  float: right;
}

.nav-elenco li{
  display: inline-block;
  margin-left: 40px;
}

/* parte relativa al jumbotron */
.jumbotron{
  margin-top: 160px;
  background-image: url(../img/jumbotron.png);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  min-height: 800px;
}

.jumbotron h1{
  padding-top: 50px;
  width: 40%;
}

.jumbotron p{
  margin: 25px 0 50px;
  width: 40%;
}

.jumbotron .subtext{
  margin-top: 50px;
  width: 40%;
}

/* SEZIONE UNO */

/* regole generali sezione uno */
.sezione-uno{
  background-color: #DCDCDC;
}

.fa-check{
  font-size: 14px;
  color: #ffffff;
  background-color: #ff6600;
  border-radius: 50%;
  padding: 1px;
  margin-right: 10px;
}

.sezione-uno h3{
  margin-bottom: 30px;
}

.sezione-uno h4{
  margin-bottom: 20px;
}

/* parte relativa alla parte centrale fuori dalle box */
.sezione-uno-centrale{
  text-align: center;
  padding: 40px 0;
  width: 60%;
  margin: auto;
}

.sezione-uno-centrale > img{
  width: 30%;
}

/* parte relativa alle parti dentro alle box bianche */
.box{
  background-color: #ffffff;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 40px;
}

.box:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.box .parte-sinistra {
  float:left;
  width: 30%;
  padding: 50px;
  text-align: center;
}

.box .parte-sinistra img{
  width: 50%;
  margin-bottom: 30px;
}

.box .parte-destra {
  float:left;
  width: 70%;
  padding: 50px 30px;
}

.box .parte-destra p {
  max-width: 70%;
}

.box .parte-destra h5{
  margin: 20px 40px 20px 0;
  margin-right: 40px;
  display: inline-block;
}

.box .parte-destra hr {
  display: inline-block;
  width: 60%;
}

.box .parte-destra li {
  display: inline-block;
  margin-right: 20px;
}

.box.verticale{
  float: left;
  width: 30%;
  text-align: center;
  padding: 20px 40px;
}

.box.centrale{
  margin: 0 5%;
}

.box.verticale .top{
  min-height: 150px;
}

.box.verticale .top img{
  width: 30%;
  margin-bottom: 20px;
}

.box.verticale .center{
  min-height: 250px;
}

.box.verticale .center p{
  margin-bottom: 20px;
}

.box.verticale .bottom{
  min-height: 250px;
  border-top: 2px solid #9A9A9A;
}

.box.verticale .bottom h5{
  margin: 40px 0 20px;
}

.box.verticale .bottom ul{
  text-align: left;
  margin-bottom: 50px;
}

.box.verticale .bottom li{
  margin: 2px 0;
}

/* SEZIONE DUE */

/* regole generali sezione due */
.sezione-due{
  background-image: linear-gradient(90deg, #17A1A3, #00CED1);
  color: #ffffff;
  text-align: center;
}

.sezione-due .contenitore > h3{
  padding: 50px;
}

/* regole per la tabella centrale */
.tabella{
  margin: 50px 0 100px 0;
}

.casella{
  float: left;
  width: calc(100% / 4);
}

.casella.right{
  border-right: 1px solid #ffffff;
}

.casella.bottom{
  border-bottom: 1px solid #ffffff;
}

.casella img, .casella .subtext{
  margin: 20px 0;
}

.casella img{
  height: 40px;
}

/* SEZIONE TRE */

/* regole generali sezione tre */
.sezione-tre{
  background-color: #ffffff;
}

/* parte relativa al contenitore superiore */
.sezione-tre .top{
  width: 85%;
  margin: auto;
}

.sezione-tre .text{
  float: left;
  width: 20%;
}

.sezione-tre .top h1{
  padding: 40px 0;
}

.lista-partner{
  float: right;
  width: 55%;
  margin-top: 60px;
}

.partner{
  float: left;
  margin: 10px 5px;
  width: calc(100% / 4 - 10px);
  height: 50px;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}

#atlassian{
  background-image: url(../img/atlassian.png);
}

#doordash{
  background-image: url(../img/doordash.png);
}

#crowd{
  background-image: url(../img/crowd.png);
}

#surveymonkey{
  background-image: url(../img/surveymonkey.svg);
}

#subaru{
  background-image: url(../img/subaru.png);
}

#wistia{
  background-image: url(../img/wistia.png);
}

#classpass{
  background-image: url(../img/classpass.png);
}

#vmware{
  background-image: url(../img/vmware.png);
}

.partner img{
  width: 80%;
  vertical-align: middle;
}

/* parte relativa al contenitore inferiore */
.sezione-tre .bottom .left{
  float: left;
  margin-top: 100px;
  width: 40%;
}

.sezione-tre .bottom .left *{
  margin-bottom: 40px;
}

.sezione-tre .bottom .left .button{
  display: inline-block;
}

.sezione-tre .bottom img{
  float: right;
  width: 25%;
  margin-top: 50px;
}

/* FOOTER */

/* regole generali footer */
footer{
  background-color: #2F4F4F;
  color: #ffffff;
}

/* regole per le colonne di link */

.contenitore-link{
  padding-top: 50px;
}

.colonna-link {
  float: left;
  width: calc(100% / 4);
}

.colonna-link h6{
  margin-bottom: 30px;
}

.colonna-link li{
  margin-bottom: 20px;
}

.colonna-link .button{
  display: inline-block;
}

.social li{
  display: inline-block;
  margin-right: 25px;
}

/* regole per la parte inferiore del footer */
.scelta-lingua{
  padding: 50px 0 10px;
  border-bottom: 1px solid #DCDCDC;
}

.lingue{
  text-align: center;
}

.lingue li{
  display: inline-block;
  margin-right: 40px;
}

.copyright{
  float: left;
  margin: 40px 0;
}

.copyright .subtext{
  margin-top: 10px;
}

.legal{
  float: right;
  margin-top: 40px;
}

.legal li{
  display: inline-block;
  margin-left: 20px;
}
