/* regole generali */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.contenitore{
  width: 70%;
  height: 100%;
  margin: auto;
  position: relative;
}

/* regole generali per i link e i "pulsanti" */
a{
  text-decoration: none;
}

.blue{
  color: #191970;
  font-weight: bold;
}

a.blue:hover{
  color: #009699;
  text-decoration: underline;
}

.button{
  padding: 10px;
  border-radius: 5px;
}

.button.big{
  padding: 15px 30px;
}

.button.white{
  color: #ff6600;
  background-color: #ffffff;
  border: 1px solid #ff6600;
}

.button.white:hover{
  color: rgba(255,102,0,0.4);
  background-color: rgba(255,255,255,0.4);
  border: 1px solid rgba(255,102,0,0.4);
}

.button.orange{
  color: #ffffff;
  background-color: #ff6600;
  border: 1px solid #ff6600;
}

.button.orange:hover{
  color: rgba(255,255,255,0.4);
  background-color: rgba(255,102,0,0.4);
  border: 1px solid rgba(255,102,0,0.4);
}

/* HEADER */

/* parte relativa alla parte di header fixata in alto  */
.navigation{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

/* parte superiore della barra di navigazione */
.nav-top{
  background-color: #DCDCDC;
  border-bottom: 2px solid #808080;
  height: 80px;
}

.nav-top-sx {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}

.nav-top-sx > .divisore{
  display: inline-block;
  margin: 0 20px;
}

.nav-top-dx {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}

#searchbar{
  color: #009699;
  font: 20px;
}

.nav-top-dx > a{
  margin-left: 20px;
}

/* parte inferiore della barra di navigazione */
.nav-bottom{
  background-color: #F8F8FF;
  height: 80px;
}

.nav-bottom .logo{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}

.nav-elenco{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}

.nav-elenco li{
  display: inline-block;
  margin-left: 40px;
}

/* parte relativa al jumbotron */
.jumbotron{
  margin-top: 160px;
  background-image: url(../img/jumbotron.png);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  height: 800px;
}

.jumbotron h1{
  padding-top: 50px;
  width: 40%;
  font-size: 50px;
}

.jumbotron p{
  margin: 25px 0 50px;
  width: 40%;
  font-size: 16px;
}

.jumbotron .subtext{
  margin-top: 50px;
  width: 40%;
  font-size: 12px;
}

/* SEZIONE UNO */

/* parte relativa alla prima sezione */
.sezione-uno{

  /* debug */
  height: 400px;
  background-color: red;
}

/* SEZIONE DUE */

/* parte relativa alla seconda sezione */
.sezione-due{

  /* debug */
  height: 200px;
  background-color: orange;
}

/* SEZIONE TRE */

/* parte relativa alla terza sezione */
.sezione-tre{

  /* debug */
  height: 200px;
  background-color: yellow;
}

/* FOOTER */

/* parte relativa al footer */
footer{

  /* debug */
  height: 300px;
  background-color: blue;
}
